<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdqn.shop.mapping.GoodsMapper">

	<select id="selectGoodss" resultType="com.bdqn.shop.entity.Goods"
		parameterType="com.bdqn.shop.entity.Goods">
		select * from Goods
		<trim prefix="where" prefixOverrides="and | or" suffix="">
			<if test="id !=null and id != 0">and id like concat('%',#{id},'%')</if>
			<if test="pictureUrl !=null and pictureUrl != ''">and pictureUrl like concat('%',#{pictureUrl},'%')</if>
			<if test="sellingPrice !=null and sellingPrice != ''">and sellingPrice like concat('%',#{sellingPrice},'%')
			</if>
			<if test="price !=null and price != ''">and price like concat('%',#{price},'%')</if>
			<if test="title !=null and title != ''">and title like concat('%',#{title},'%')</if>
			<if test="saleSum !=null and saleSum != 0">and saleSum like concat('%',#{saleSum},'%')</if>
			<if test="evaluateSum !=null and evaluateSum != 0">and evaluateSum like concat('%',#{evaluateSum},'%')</if>
			<if test="integral !=null and integral != 0">and integral like concat('%',#{integral},'%')</if>
			<if test="stock !=null and stock != 0">and stock like concat('%',#{stock},'%')</if>
			<if test="shelfTime !=null and shelfTime != ''">and shelfTime like concat('%',#{shelfTime},'%')</if>
			<if test="popularity !=null and popularity != 0">and popularity like concat('%',#{popularity},'%')</if>
			<if test="province !=null and province != ''">and province like concat('%',#{province},'%')</if>
			<if test="factoryName !=null and factoryName != ''">and factoryName like concat('%',#{factoryName},'%')</if>
			<if test="factoryAddress !=null and factoryAddress != ''">and factoryAddress like concat('%',#{factoryAddress},'%')
			</if>
			<if test="factoryPhone !=null and factoryPhone != ''">and factoryPhone like concat('%',#{factoryPhone},'%')
			</if>
		</trim>
	</select>
	<select id="selectPageGoodss" resultType="com.bdqn.shop.entity.Goods">
		select * from Goods
		<trim prefix="where" prefixOverrides="and | or" suffix="">
			<if test="goods != null and goods.title !=null and goods.title !=''">
				and title like concat('%',#{goods.title},'%')
			</if>
			<if test="type != null and type.id>0">
				and type_id=#{type.id}
			</if>
			<if test="goods.store_id !=null and goods.store_id>0">
				and `store_id`=#{goods.store_id}
			</if>
			<if test="goods.status==null">
				and `status`=0
			</if>
			<if test="goods.status!=null">
				and `status`=#{goods.status}
			</if>
		</trim>
		limit #{begin},#{end}
	</select>
	<insert id="insertGoods" parameterType="com.bdqn.shop.entity.Goods"
		useGeneratedKeys="true" keyProperty="id">
		insert into Goods
		<trim prefix="(" prefixOverrides="," suffix=")">
			<if test="id !=null and id != 0">,id</if>
			<if test="id ==null or id == 0">,id</if>
			<if test="pictureUrl !=null and pictureUrl != ''">,pictureUrl</if>
			<if test="sellingPrice !=null and sellingPrice != ''">,sellingPrice</if>
			<if test="price !=null and price != ''">,price</if>
			<if test="title !=null and title != ''">,title</if>
			<if test="saleSum !=null and saleSum != 0">,saleSum</if>
			<if test="evaluateSum !=null and evaluateSum != 0">,evaluateSum</if>
			<if test="integral !=null and integral != 0">,integral</if>
			<if test="stock !=null and stock != 0">,stock</if>
			<if test="shelfTime !=null and shelfTime != ''">,shelfTime</if>
			<if test="popularity !=null and popularity != 0">,popularity</if>
			<if test="province !=null and province != ''">,province</if>
			<if test="factoryName !=null and factoryName != ''">,factoryName</if>
			<if test="factoryAddress !=null and factoryAddress != ''">,factoryAddress</if>
			<if test="factoryPhone !=null and factoryPhone != ''">,factoryPhone</if>
			<if test="type_id !=null and type_id != 0">,type_id</if>
			<if test="store_id !=null and store_id != 0">,store_id</if>
		</trim>
		values(
		<trim prefix="" prefixOverrides="," suffix=")">
			<if test="id !=null and id != 0">,#{id}</if>
			<if test="id ==null or id == 0">,default</if>
			<if test="pictureUrl !=null and pictureUrl != ''">,#{pictureUrl}</if>
			<if test="sellingPrice !=null and sellingPrice != ''">,#{sellingPrice}</if>
			<if test="price !=null and price != ''">,#{price}</if>
			<if test="title !=null and title != ''">,#{title}</if>
			<if test="saleSum !=null and saleSum != 0">,#{saleSum}</if>
			<if test="evaluateSum !=null and evaluateSum != 0">,#{evaluateSum}</if>
			<if test="integral !=null and integral != 0">,#{integral}</if>
			<if test="stock !=null and stock != 0">,#{stock}</if>
			<if test="shelfTime !=null and shelfTime != ''">,#{shelfTime}</if>
			<if test="popularity !=null and popularity != 0">,#{popularity}</if>
			<if test="province !=null and province != ''">,#{province}</if>
			<if test="factoryName !=null and factoryName != ''">,#{factoryName}</if>
			<if test="factoryAddress !=null and factoryAddress != ''">,#{factoryAddress}</if>
			<if test="factoryPhone !=null and factoryPhone != ''">,#{factoryPhone}</if>
			<if test="type_id !=null and type_id != 0">,#{type_id}</if>
			<if test="store_id !=null and store_id != 0">,#{store_id}</if>
		</trim>
	</insert>
	<update id="updateGoods" parameterType="com.bdqn.shop.entity.Goods">
		update Goods
		<trim prefix="set" prefixOverrides="," suffix="">
			<if test="id !=null and id != 0">,id=#{id}</if>
			<if test="pictureUrl !=null and pictureUrl != ''">,pictureUrl=#{pictureUrl}</if>
			<if test="sellingPrice !=null and sellingPrice != ''">,sellingPrice=#{sellingPrice}</if>
			<if test="price !=null and price != ''">,price=#{price}</if>
			<if test="status !=null">,`status`=#{status}</if>
			<if test="title !=null and title != ''">,title=#{title}</if>
			<if test="saleSum !=null and saleSum != 0">,saleSum=#{saleSum}</if>
			<if test="evaluateSum !=null and evaluateSum != 0">,evaluateSum=#{evaluateSum}</if>
			<if test="integral !=null and integral != 0">,integral=#{integral}</if>
			<if test="stock !=null and stock != 0">,stock=#{stock}</if>
			<if test="shelfTime !=null ">,shelfTime=#{shelfTime}</if>
			<if test="popularity !=null and popularity != 0">,popularity=#{popularity}</if>
			<if test="province !=null and province != ''">,province=#{province}</if>
			<if test="factoryName !=null and factoryName != ''">,factoryName=#{factoryName}</if>
			<if test="factoryAddress !=null and factoryAddress != ''">,factoryAddress=#{factoryAddress}</if>
			<if test="factoryPhone !=null and factoryPhone != ''">,factoryPhone=#{factoryPhone}</if>
			<if test="type_id !=null and type_id != 0">,type_id=#{type_id}</if>
		</trim>
		where id=#{id}
	</update>
	<delete id="deleteGoods" parameterType="com.bdqn.shop.entity.Goods">
		delete from Goods
		<trim prefix="where" prefixOverrides="and | or" suffix="">
			<if test="id !=null and id != 0">and id = #{id}</if>
			<if test="pictureUrl !=null and pictureUrl != ''">and pictureUrl = #{pictureUrl}</if>
			<if test="sellingPrice !=null and sellingPrice != ''">and sellingPrice = #{sellingPrice}</if>
			<if test="price !=null and price != ''">and price = #{price}</if>
			<if test="title !=null and title != ''">and title = #{title}</if>
			<if test="saleSum !=null and saleSum != 0">and saleSum = #{saleSum}</if>
			<if test="evaluateSum !=null and evaluateSum != 0">and evaluateSum = #{evaluateSum}</if>
			<if test="integral !=null and integral != 0">and integral = #{integral}</if>
			<if test="stock !=null and stock != 0">and stock = #{stock}</if>
			<if test="shelfTime !=null and shelfTime != ''">and shelfTime = #{shelfTime}</if>
			<if test="popularity !=null and popularity != 0">and popularity = #{popularity}</if>
			<if test="province !=null and province != ''">and province = #{province}</if>
			<if test="factoryName !=null and factoryName != ''">and factoryName = #{factoryName}</if>
			<if test="factoryAddress !=null and factoryAddress != ''">and factoryAddress = #{factoryAddress}</if>
			<if test="factoryPhone !=null and factoryPhone != ''">and factoryPhone = #{factoryPhone}</if>
		</trim>
	</delete>
	<select id="selectGoodsCount" resultType="int"
		parameterType="com.bdqn.shop.entity.Goods">
		select count(*) from Goods
		<trim prefix="where" prefixOverrides="and | or" suffix="">
			<if test="goods != null and goods.title !=null and goods.title !=''">
				and title like concat('%',#{goods.title},'%')
			</if>
			<if test="type != null and type.id>0">
				and type_id=#{type.id}
			</if>
			<if test="goods.store_id !=null and goods.store_id>0">
				and `store_id`=#{goods.store_id}
			</if>
			<if test="goods.status==null">
				and `status`=0
			</if>
			<if test="goods.status!=null">
				and `status`=#{goods.status}
			</if>
		</trim>
	</select>
	<select id="selectGoods"  resultType="com.bdqn.shop.entity.Goods"
		parameterType="com.bdqn.shop.entity.Goods" resultMap="goodstype">
		SELECT
		goods.*,

		goodstype.*,
		goodstype.id as goodTypeId,
		goodstype.name as
		goodTypesName,
		goodstype.goods_id as goodTypeGoodsId,


		detailedpicture.id as detailedpictureId,
		detailedpicture.goods_id as
		detailedpictureGoodsId,
		detailedpicture.url as detailedpicturesUrl,


		comment.*,
		comment.id as commentId,
		comment.goods_id as commentGoodsId,
		comment.lv as commentsLv,


		commentpictures.*,
		commentpictures.id as
		commentpicturesId,
		commentpictures.url as commentpicturesUrl ,


		user.* ,
		user.id as userId,
		user.lv as userLv,


		goodstype1.*,
		goodstype1.id as
		commentGoodTypeId,
		goodstype1.name as commentGoodTypesName,
		goodstype1.goods_id as commentGoodTypeGoodsId,


		(select count(*) from
		comment

		<trim prefix="where" prefixOverrides="and | or" suffix="">
			<if test="goods.id !=null and goods.id != 0">and goods_id =#{goods.id}</if>
			<if test="goods.pictureUrl !=null and goods.pictureUrl != ''">and goods.pictureUrl like
				concat('%',#{goods.pictureUrl},'%')</if>
			<if test="goods.sellingPrice !=null and goods.sellingPrice != ''">and goods.sellingPrice like
				concat('%',#{goods.sellingPrice},'%')</if>
			<if test="goods.price !=null and goods.price != ''">and goods.price like concat('%',#{goods.price},'%')</if>
			<if test="goods.title !=null and goods.title != ''">and goods.title like concat('%',#{goods.title},'%')</if>
			<if test="goods.saleSum !=null and goods.saleSum != 0">and goods.saleSum like concat('%',#{goods.saleSum},'%')
			</if>
			<if test="goods.evaluateSum !=null and goods.evaluateSum != 0">and goods.evaluateSum like
				concat('%',#{goods.evaluateSum},'%')</if>
			<if test="goods.integral !=null and goods.integral != 0">and goods.integral like concat('%',#{goods.integral},'%')
			</if>
			<if test="goods.stock !=null and goods.stock != 0">and goods.stock like concat('%',#{goods.stock},'%')</if>
			<if test="goods.shelfTime !=null and goods.shelfTime != ''">and goods.shelfTime like
				concat('%',#{goods.shelfTime},'%')</if>
			<if test="goods.popularity !=null and goods.popularity != 0">and goods.popularity like
				concat('%',#{goods.popularity},'%')</if>
			<if test="goods.province !=null and goods.province != 0">and goods.province like concat('%',#{goods.province},'%')
			</if>
			<if test="goods.factoryName !=null and goods.factoryName != ''">and goods.factoryName like
				concat('%',#{goods.factoryName},'%')</if>
			<if test="goods.factoryAddress !=null and goods.factoryAddress != ''">and goods.factoryAddress like
				concat('%',#{goods.factoryAddress},'%')</if>
			<if test="goods.factoryPhone !=null and goods.factoryPhone != ''">and goods.factoryPhone like
				concat('%',#{goods.factoryPhone},'%')</if>
		</trim>

		) as commentCount

		FROM GOODS AS goods
		INNER JOIN goodstype ON
		goods.ID=goodstype.goods_id
		INNER JOIN detailedpicture ON
		detailedpicture.goods_id = goods.ID
		left JOIN (SELECT * FROM `comment`
		WHERE goods_id = #{goods.id} ORDER BY comment.`createTime` desc LIMIT
		0,5) comment ON goods.ID =
		comment.goods_id
		left JOIN commentpictures ON
		comment.id=commentpictures.comment_id
		left join user on
		user.id=comment.user_id
		left join goodstype as goodstype1 on
		goodstype1.id=comment.goodsTypeId
		<trim prefix="where" prefixOverrides="and | or" suffix="">
			<if test=" goods.id !=null and goods.id != 0">and goods.id = #{goods.id}</if>
			<if test="goods.pictureUrl !=null and goods.pictureUrl != ''">and goods.pictureUrl like
				concat('%',#{goods.pictureUrl},'%')</if>
			<if test="goods.sellingPrice !=null and goods.sellingPrice != ''">and goods.sellingPrice like
				concat('%',#{goods.sellingPrice},'%')</if>
			<if test="goods.price !=null and goods.price != ''">and goods.price like concat('%',#{goods.price},'%')</if>
			<if test="goods.title !=null and goods.title != ''">and goods.title like concat('%',#{goods.title},'%')</if>
			<if test="goods.saleSum !=null and goods.saleSum != 0">and goods.saleSum like concat('%',#{goods.saleSum},'%')
			</if>
			<if test="goods.evaluateSum !=null and goods.evaluateSum != 0">and goods.evaluateSum like
				concat('%',#{goods.evaluateSum},'%')</if>
			<if test="goods.integral !=null and goods.integral != 0">and goods.integral like concat('%',#{goods.integral},'%')
			</if>
			<if test="goods.stock !=null and goods.stock != 0">and goods.stock like concat('%',#{goods.stock},'%')</if>
			<if test="goods.shelfTime !=null and goods.shelfTime != ''">and goods.shelfTime like
				concat('%',#{goods.shelfTime},'%')</if>
			<if test="goods.popularity !=null and goods.popularity != 0">and goods.popularity like
				concat('%',#{goods.popularity},'%')</if>
			<if test="goods.province !=null and goods.province != 0">and goods.province like concat('%',#{goods.province},'%')
			</if>
			<if test="goods.factoryName !=null and goods.factoryName != ''">and goods.factoryName like
				concat('%',#{goods.factoryName},'%')</if>
			<if test="goods.factoryAddress !=null and goods.factoryAddress != ''">and goods.factoryAddress like
				concat('%',#{goods.factoryAddress},'%')</if>
			<if test="goods.factoryPhone !=null and goods.factoryPhone != ''">and goods.factoryPhone like
				concat('%',#{goods.factoryPhone},'%')</if>
		</trim>
	</select>

	<resultMap type="com.bdqn.shop.entity.Goods" id="goodstype">
		<id property="id" column="id" />
		<collection property="goodTypes" ofType="com.bdqn.shop.entity.Goodstype">
			<id property="id" column="goodTypeId" />
			<result property="name" column="goodTypesName" />
			<result property="goods_id" column="goodTypeGoodsId" />
		</collection>
		<collection property="detailedpictures" ofType="com.bdqn.shop.entity.Detailedpicture">
			<id property="id" column="detailedpictureId" />
			<result property="goods_id" column="detailedpictureGoodsId" />
			<result property="url" column="detailedpicturesUrl" />

		</collection>

		<collection property="comments" ofType="com.bdqn.shop.entity.Comment"
			resultMap="commentUserCommentpictures">
			<id property="id" column="commentId" />
			<result property="goods_id" column="commentGoodsId" />
			<result property="lv" column="commentsLv" />
		</collection>
	</resultMap>
	<select id="sortGoods" resultType="com.bdqn.shop.entity.Goods">
		select * from Goods
		where `status`=0
		<if test="name=='saleSum'">
			ORDER BY saleSum DESC
		</if>
		<if test="name=='popularity'">
			ORDER BY popularity DESC
		</if>
		<if test="name=='shelfTime'">
			ORDER BY shelfTime DESC
		</if>

		limit 0,8
	</select>
	<update id="reduceGoods">
		UPDATE `goods` SET saleSum=saleSum+#{sum}
		,stock=stock-#{sum}
		WHERE id=#{id}
	</update>

	<resultMap type="com.bdqn.shop.entity.Comment" id="commentUserCommentpictures">
		<id property="id" column="commentId" />

		<association property="goodstype" javaType="com.bdqn.shop.entity.Goodstype">
			<id property="id" column="commentGoodTypeId" />
			<result property="name" column="commentGoodTypesName" />
			<result property="goods_id" column="commentGoodTypeGoodsId" />
		</association>

		<association property="user" javaType="com.bdqn.shop.entity.User">
			<id property="id" column="userId" />
			<result property="lv" column="userLv" />
		</association>


		<collection property="commentpicturess" ofType="com.bdqn.shop.entity.Commentpictures">
			<id property="id" column="commentpicturesId" />
			<result property="url" column="commentpicturesUrl" />
		</collection>



	</resultMap>


</mapper>
